body{
    font-family: Arial;
    background: #f4f6f8;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.container{
    background: white;
    padding:20px;
    border-radius: 10px;
    width:300px;
    text-align: center;
}
input{
    width:100%;
    padding:10px;
    margin:8px 0;
}
button{
    width:100%;
    padding:10px;
    margin:5px 0;
    background:#007bff;
    color:white;
    border:none;
    border-radius: 5px;
}
.button-section{
    margin-top:10px;
}
.output-section{
    margin-top:15px;
    padding:10px;
    background: #f1f1f1;
    border-radius: 5px;
}